.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
}

.bodyContainer {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}