.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f4f5f7;
}

.bodyContainer {
  display: flex;
  flex: 1;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}